---
  const pageTitle = "About Chinoa";
  const identity = {
    firstName: "Sarah",
    country: "Canada",
    occupation: "Technical Writer",
    hobbies: ["photography", "birdwatching", "baseball"],
  };

  const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/blog/">Blog</a>

		<h1>{pageTitle}</h1>
    <h2>Im just a curious guy</h2>
    <p>My name is Luis Eduardo and im a continuous learner</p>
    <p>but not only this, this is onlye what i have to do, now how do i install
      tailwaind for practices</p>
	</body>
</html>
