---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro why</title>
	</head>
	<body>
		<h1>Astro why</h1>
    <h2>This is my astro Site</h2>
    <p>this is my astro site tho</p>
	</body>
</html>
